.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px; /* Reduced padding */
    background-color: #fff;
    color: #39A2A5;
    border-bottom: solid 2px #032739;
    margin-bottom: 10px; /* Reduced margin */
}

.logo img {
    width: 70px; /* Reduced width */
    height: 70px; /* Reduced height */
    object-fit: cover;
}

.logo a {
    color: #39A2A5;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 10px; /* Reduced gap */
    margin-left: 50px; /* Reduced margin */
    padding: 0;
}

.nav-list li {
    font-size: 1.2rem; /* Reduced font size */
    margin-right: 30px; /* Reduced margin */
    margin-left: 20px; /* Reduced margin */
}

.nav-list a {
    color: #032739;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
    transition: 0.3s ease;
    font-size: 1.2rem; /* Reduced font size */
}

.nav-list a:hover {
    color: #39A2A5;
    font-size: 1.3rem; /* Slight hover size increase */
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Reduced width */
}

.user-icon {
    background: #032739;
    height: 40px; /* Reduced height */
    width: 40px; /* Reduced width */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-icon a {
    color: #39A2A5;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem; /* Reduced font size */
}

.profile-icon a:hover {
    color: #f56626;
}

.welcome-message {
    margin-left: 5px; /* Reduced margin */
    color: #032739;
    font-weight: bold;
    font-size: 1rem; /* Reduced font size */
}
