/* Navbar.css */
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
     background-color: #fff;
    color: #39A2A5;
    border-bottom: solid 2px #032739;
    margin-bottom: 20px;
    
  }
  
  /* .logo {
width: 20px;
height: 20px;
  } */

  .logo img{
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  
  .logo a {
    color: #39A2A5; /* Teal color for the logo text */
    text-decoration: none;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 95px;
    padding: 0;
  }
  
  .nav-list li {
    display: flex;
    font-size: 1.7rem;
    margin-right: 65px;
    margin-left: 45px;
  }
  
  .nav-list a {
    color: #032739;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
    transition: 0.3s ease
  }
  
  .nav-list a:hover {
    color: #39A2A5; /* Orange color for hover effect */
    font-size: 1.6rem;
  }

  .nav-icon {
    margin-right: 0;
  }
  
  .profile-icon {
    /* background-color: #39A2A5; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    
  }

  .user-icon{
    background: #032739;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .profile-icon a {
    color: #39A2A5; /* Teal color for the icon */
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.8rem;
  }
  
  .profile-icon a:hover {
    color: #f56626; /* Orange color for hover effect */
  }
  
  .welcome-message{
    margin-left: 10px;
    color: #032739;
    font-weight: bold;
  }

  .message {
    color: #032739;
    font-weight: bold;
    margin-left: 10px;
  }