/* Home.css */
.home-container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #f9f9f9;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .hero-content {
    max-width: 45%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content h1 {
    font-size: 50px;
    color: #032739;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    line-height: 30px;
  
    
    align-items: left;
  }
  
  .cta-button {
    background-color: #032739;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    
  }
  
  .cta-button:hover {
    background-color: #d4501e;
  }
  
  .hero-image {
    max-width: 55%;
    background-color: #d4501e;
    border-radius: 50%;
  }
  
  .hero-image img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
    
  }
  
  .steps-container, .categories-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .step, .category {
    text-align: center;
    max-width: 23%;
  }
  
  .step img, .category img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .why-choose-us {
    text-align: center;
    margin: 40px 0;
  }
  
  .why-choose-us ul {
    list-style: none;
    padding: 0;
  }
  
  .why-choose-us li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .cta-footer {
    text-align: center;
    margin-top: 30px;
  }
  
  .book-now-button {
    background-color: #f56626;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .book-now-button:hover {
    background-color: #d4501e;
  }
  
  /* How It Works Section */
.how-it-works {
  text-align: center;
  margin: 40px 0;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.how-it-works .step {
  background-color: #032739;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
}

.how-it-works .step:hover {
  transform: translateY(-10px);
}

.how-it-works .step-icon {
  font-size: 40px;
  color: #032739;
  margin-bottom: 10px;
}

 .how-it-works .step h3 {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
}

.how-it-works .step p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
