/* LandingPage.css */

/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f6fa;
  } */
  
  .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #032739);
    color: #fff;
  }
  
  .main-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .main-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .main-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .main-button {
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-transform: uppercase;
  }
  
 .main-button .user-button {
    background-color: #3498db;
  }
  
  .main-button.user-button:hover {
    background-color: #032739;
  }
  
  .admin-button {
    background-color: #032739;
  }
  
  .admin-button:hover {
    background-color: #3498db;
  }
  