.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.register-card {
  display: flex;
  width: 800px;
  height: 450px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.register-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.register-image {
  flex: 1;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.login-link a {
  text-decoration: none;
  font-size: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #032739;
}

.sub-heading {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.register-form button {
  padding: 10px;
  background-color: #032739;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.register-form button:hover {
  background-color: #39A2A5;
}
